body {
    background-image: url(/assets/images/jeep2.jpg);
    background-size: 100%;
    padding-left: 100px;
}

#vehical-form {
    float: right;
    padding-right: 20px;
}

#add-vehical {
    float: right;
}

#buttons {
    padding-bottom: 20px;
}

#gifArea {
	margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
	flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 50px;
}
p {
    font-weight: bold;
}